@page
@model PRN211_Project.Pages.Schedules.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class=" text-white">Schedule Management</h1>

<div class="container bg-light text-black rounded">
    <div class="container py-2">
        <div>
            <h4>Schedule</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.WeeklyTimeTable.LearnDate)
                </dt>
                <dd class="col-sm-10">
                    @(Model.WeeklyTimeTable.LearnDate == null ? "" : Model.WeeklyTimeTable.LearnDate.Value.ToString("dd/MM/yyyy"))
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.WeeklyTimeTable.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.WeeklyTimeTable.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.WeeklyTimeTable.Class)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.WeeklyTimeTable.Class.ClassName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.WeeklyTimeTable.Course)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.WeeklyTimeTable.Course.CourseCode)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.WeeklyTimeTable.Rooms)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.WeeklyTimeTable.Rooms.RoomsName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.WeeklyTimeTable.Teachers)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.WeeklyTimeTable.Teachers.TeachersCode)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.WeeklyTimeTable.TimeSlot)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.WeeklyTimeTable.TimeSlot.Description)
                </dd>
            </dl>

            <div>
                <a asp-page="./Edit" asp-route-id="@Model.WeeklyTimeTable?.Id">Edit</a> |
                <a asp-page="./Index"><i class="fas fa-arrow-left"></i> Back to List</a>
            </div>
        </div>
    </div>
</div>


