@page
@model PRN211_Project.Pages.ClassRooms.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class=" text-white">Classroom Management</h1>

<div class="mb-3 row d-flex">
    <div class="col-lg-2">
        <a asp-page="Create"><button class="btn btn-primary" type="button">New Class</button></a>
    </div>
    <div class="col-lg-3">
        <a asp-page="/TeacherInClass/Create"><button class="btn btn-primary" type="button">New Classroom Instructor</button></a>
    </div>
</div>

<div class="bg-light text-black rounded mb-3">
    <div class="table-wrapper">
        <table class="table table-fixed overflow-auto" id="scroll-table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">
                        .No
                    </th>
                    <th scope="col">
                        Class Name
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.ClassRoom[0].Description)
                    </th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ClassRoom)
                {
                    <tr>
                        <td scope="row" class="text-center col-1">
                            @(Model.ClassRoom.IndexOf(item) + 1)
                        </td>
                        <td scope="row" class="col-3">
                            @Html.DisplayFor(modelItem => item.ClassName)
                        </td>
                        <td scope="row" class="col-6">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td scope="row" class="text-center col-2">
                            <a asp-page="./Edit" asp-route-id="@item.ClassId" class="text-primary"><i class="fas fa-edit"></i></a> |
                            <a asp-page="./Details" asp-route-id="@item.ClassId" class="text-primary"><i class="fas fa-info-circle"></i></a> |
                            <a asp-page="/TeacherInClass/Details" asp-route-classId="@item.ClassId" class="text-primary"><i class="far fa-clipboard"></i></a> |
                            <a asp-page="./Delete" asp-route-id="@item.ClassId" class="text-danger"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <vc:pagin page-url="./index" total-page="@Model.TotalPages" display-range="5"
              current-page="@Model.CurrentPage" page-index="1" filter="" search="@Model.Search" view-date=""></vc:pagin>
</div>