@page
@model PRN211_Project.Pages.Courses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class=" text-white">Course Management</h1>

<p>
    <a asp-page="Create"><button class="btn btn-primary" type="button">Create New</button></a>
</p>

<div class="container bg-light text-black rounded">

    <table class="table table-fixed">
        <thead>
            <tr>
                <th scope="col" class="text-center">
                    .No
                </th>
                <th scope="col">
                    Course Name
                </th>
                <th scope="col" class="">
                    Course Code
                </th>
                <th scope="col" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Course)
            {
                <tr>
                    <td scope="row" class="text-center">
                        @(Model.Course.IndexOf(item) + 1)
                    </td>
                    <td scope="row" class="col-7 text-break">
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td scope="row" class="col-2">
                        @Html.DisplayFor(modelItem => item.CourseCode)
                    </td>
                    <td scope="row" class="text-center col-2">
                        <a asp-page="./Edit" asp-route-id="@item.CourseId" class="text-primary"><i class="fas fa-edit"></i></a> |
                        <a asp-page="./Details" asp-route-id="@item.CourseId" class="text-primary"><i class="fas fa-info-circle"></i></a> |
                        <a asp-page="./Delete" asp-route-id="@item.CourseId" class="text-danger"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div><vc:pagin page-url="/Courses/index" total-page="@Model.TotalPages" current-page="@Model.CurrentPage" page-index="1"></vc:pagin></div>