@page
@model PRN211_Project.Pages.TeacherInClass.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white mt-2">Classroom Instructor Management</h1>

<div class="mb-3">
    <a asp-page="Create">
        <button class="btn btn-primary" type="button">
            Create New
        </button>
    </a>
</div>
<div class="container bg-light text-black rounded">
    <div class="container py-2">
        <div class="table-wrapper">
            <table class="table" id="">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">.No</th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.TeacherClass[0].Class)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.TeacherClass[0].Teacher)
                        </th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TeacherClass)
                    {
                        <tr>
                            <td scope="row" class="text-center col-1">@(Model.TeacherClass.IndexOf(item) + 1)</td>
                            <td scope="row">
                                @Html.DisplayFor(modelItem => item.Class.ClassName)
                            </td>
                            <td scope="row">
                                @Html.DisplayFor(modelItem => item.Teacher.TeachersCode)
                            </td>
                            <td scope="row" class="text-center">
                                <a asp-page="./Edit" asp-route-id="@item.Id" class="text-primary"><i class="fas fa-edit"></i></a> |
                                <a asp-page="./Details" asp-route-id="@item.Id" class="text-primary"><i class="fas fa-info-circle"></i></a> |
                                <a asp-page="./Delete" asp-route-id="@item.Id" class="text-danger"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>