@page "{TeacherId?}"
@model PRN211_Project.Pages.Teachers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class=" text-white">@Model.Title</h1>
<div class="container bg-light text-black rounded">
    <div class="container py-2">
        <h4 class="mt-3">Teacher Details</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Teachers Code
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Teacher.TeachersCode)
            </dd>
            <dt class="col-sm-2">
                Full Name
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Teacher.FullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Teacher.Account.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Teacher.Account.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Teacher.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Teacher.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Teacher.Phone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Teacher.Phone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Teacher.Dob)
            </dt>
            <dd class="col-sm-10">
                @Model.Teacher.Dob.Value.ToString("dd/MM/yyyy")
            </dd>
            <div class="mb-2">
                <a asp-page="./Edit" asp-route-id="@Model.Teacher?.TeacherId">Edit</a>
                @if (Model.Account.Role.ToLower().Equals("admin"))
                {
                    <span> | </span>
                    <a asp-page="./Index"><i class="fas fa-arrow-left"></i> Back to List</a>
                }
            </div>
        </dl>
    </div>

</div>
