@page
@model PRN211_Project.Pages.Teachers.IndexModel

@{
    ViewData["Title"] = "Teacher Management";
}
<h1 class=" text-white">Teacher Management</h1>
<div class="mb-3 row d-flex">
    <div class="col-lg-2">
        <a asp-page="Create"><button class="btn btn-primary" type="button">New Lecturer</button></a>
    </div>
    <div class="col-lg-3">
        <a asp-page="/TeacherInClass/Create"><button class="btn btn-primary" type="button">New Classroom Instructor</button></a>
    </div>
    <div class="col-lg-3">
        <a asp-page="/TeacherInCourses/Create"><button class="btn btn-primary" type="button">New Subject lecturer</button></a>
    </div>
</div>
<div class="bg-light text-black rounded mb-3">
    <div class="table-wrapper">
        <table class="table align-middle table-bordered overflow-auto" id="scroll-table">
            <thead>
                <tr>
                    <th scope="col" class="text-center">
                        .No
                    </th>
                    <th scope="col">
                        Code
                    </th>
                    <th scope="col">
                        Full Name
                    </th>
                    <th scope="col">
                        Email
                    </th>
                    <th scope="col">
                        Address
                    </th scope="col">
                    <th scope="col" class="text-center">
                        Phone
                    </th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Teacher)
                {
                    <tr>
                        <td scope="row" class="text-center">
                            @(Model.Teacher.IndexOf(item) + 1)
                        </td>
                        <td scope="row" class="col-1">
                            @item.TeachersCode
                        </td>
                        <td scope="row" class="col-lg-2">
                           @item.FullName
                        </td>
                        <td scope="row" class="text-break col-3">
                            <p class="limitedText">@item.Account.Email</p>
                        </td>
                        <td scope="row" class="text-break col-3">
                            <p class="limitedText">@item.Address</p>
                        </td>
                        <td scope="row" class="text-center col-1">
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td scope="row" class="text-center col-2">
                            <a asp-page="./Edit" asp-route-id="@item.TeacherId"class="text-primary"><i class="fas fa-edit"></i></a> |
                            <a asp-page="./Details" asp-route-id="@item.TeacherId" class="text-primary"><i class="fas fa-info-circle"></i></a> |
                            <a asp-page="/TeacherInCourses/Details" asp-route-teachId="@item.TeacherId" class="text-primary"><i class="fas fa-journal-whills"></i></a> |
                            <a asp-page="/TeacherInClass/Details" asp-route-teachId="@item.TeacherId" class="text-primary"><i class="fas fa-house-user"></i></a> |
                            <a asp-page="./Delete" asp-route-id="@item.TeacherId" class="text-danger"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div><vc:pagin page-url="./index" total-page="@Model.TotalPages" display-range="5"
              current-page="@Model.CurrentPage" page-index="1" filter="" search="@Model.Search" view-date=""></vc:pagin></div>